/* Global Styles */

body {
	margin:0px;
	}
	

	
a {
	color: #993300;
	}
	
a:hover {
	color: #5C743D;
	}

/* ID Styles */

#navigation td {
	border-bottom: 1px solid #F4FFE4;
	}
	
#navigation a {
	font: bold 11pt Arial, Helvetica, sans-serif;
	color: #D5EDB3;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	display:block;
	padding:8px 6px 10px 20px;
	}
	
#navigation a:hover {
	background: #99CC66;
	color:#993300;
	}
	
#logo 	{
	font:24px Arial, Helvetica, sans-serif;
	color: #5C743D;
	letter-spacing:.2em;
	line-height:30px;
	}

#tagline 	{	
	font:11pt Arial, Helvetica, sans-serif;
	color: #993300;
	letter-spacing:.4em;
	line-height:18px;
	}

#monthformat {
	border-bottom: 1px dashed #5C743D;
	}
		
#dateformat {
	font:11pt Arial, Helvetica, sans-serif;
	color: #993300;
	letter-spacing:.2em;
	}
	
#dateformat a {
	font:11pt Arial, Helvetica, sans-serif;
	color: #993300;
	font-weight:bold;
	letter-spacing:.1em;
	text-decoration:none;
	}
	
#dateformat a:hover {
	color: #F4FFE4;
	letter-spacing:.1em;
	}
	
/* Class Styles */
	
.bodyText {
	font:11pt Arial, Helvetica, sans-serif;
	line-height:20px;
	margin-top:0px;
	}
	
.pageName{
	font: 18px Arial, Helvetica, sans-serif;
	color: #99CC66;
	line-height:26px;
	letter-spacing:.21em;
	}
	
.subHeader {
	font:bold 11pt Arial, Helvetica, sans-serif;
	color: #993300;
	line-height:22px;
	letter-spacing:.2em;
	}

.quote {
	font: 20px Arial, Helvetica, sans-serif;
	color: #759DA1;
	line-height:30px;
	}
	
.smallText {
	font: 10px Arial, Helvetica, sans-serif;
	color: #666666;
	line-height: 22px;
	}
	
.navText {
	font: 11pt Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}
	
table.brdr {
	border-top: 1px gray solid;
	border-left: 1px gray solid;
	}
	
td.brdrodd {
	background-color: #D5EDB3;
	border-bottom: 1px gray solid;
	border-right: 1px gray solid;
	}
	
td.brdreven {
	background-color: #E5FFC2;
	border-bottom: 1px gray solid;
	border-right: 1px gray solid;
	}
	
 body        { font-family: sans-serif; font-size: 11pt;}
 div         { margin:  8px 8px 8px 8px }
 table       { border-bottom: 1px solid gray; border-right: 1px solid gray; font-size: 11pt;}
 table.tbl   { background-color: rgb(250,250,255); }

 td          { border-left: 1px solid gray; border-top: 1px solid gray; }
 th          { border-left: 1px solid gray; border-top: 1px solid gray; }
 td.hd       { text-align:center; font-weight: bold; }
 td.hdbig    { text-align:center; font-weight: bold; font-size: 12pt;}
 td.subhead  { padding-top: 4px; background-color: white; text-align:center; font-style: italic;}
 span.footer { font-size: 9pt; font-style: italic;}

 table.banner     { border: none; }
 table.banner td  { border: none; }	
 