<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Don't forget to copy your JDBC driver to the lib/ directory! -->

		<!-- Settings for a local HSQL database, wrapped by P6Spy, see spy.properties -->

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/demo_fish2</property>
		<property name="hibernate.connection.username">rods</property>
		<property name="hibernate.connection.password">rods</property>

		<!-- Use the Hibernate built-in pool for tests. -->
		<property name="hibernate.connection.pool_size">1</property>

		<!-- Use EHCache. -->
		<!-- <property name="cache.provider_class">net.sf.hibernate.cache.EhCacheProvider</property>
		<property name="cache.use_query_cache">false</property> -->

		<!-- Specify mapping files. -->
		<mapping resource="edu/ku/brc/specify/ui/db/PickList.hbm.xml"/>
		
		
		<mapping resource="edu/ku/brc/specify/extfilerepos/impl/ExternalFileEntry.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/RecordSet.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/InfoRequest.hbm.xml"/>
		
		<mapping resource="edu/ku/brc/specify/datamodel/AccessionAgent.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/AccessionAuthorizations.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Accession.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Address.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/AgentAddress.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Agent.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/AttrsDef.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Author.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/BioAttrs.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/BiologicalObjectAttribute.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/BiologicalObjectRelation.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/BiologicalObjectRelationType.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/BorrowAgent.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Borrow.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/BorrowMaterial.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/BorrowReturnMaterial.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/BorrowShipment.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/CatalogSeriesDefinition.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/CatalogSeries.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/CatalogSery.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/CollectingEvent.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Collection.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/CollectionObjectCatalog.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/CollectionObjectCitation.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/CollectionObject.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/CollectionObjectType.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/CollectionObj.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/CollectionTaxonomyType.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Collector.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/DeaccessionAgent.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/DeaccessionCollectionObject.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Deaccession.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/DeterminationCitation.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Determination.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/ExchangeIn.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/ExchangeOut.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Geography.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/GeologicTimeBoundary.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/GeologicTimePeriod.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/GroupPerson.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/HabitatAttrs.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Habitat.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/ImageAgent.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/ImageCollectionObject.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Image.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/ImageLocality.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Journal.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/LoanAgent.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Loan.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/LoanPhysicalObject.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/LoanReturnPhysicalObject.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/LocalityCitation.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Locality.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Observation.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/OtherIdentifier.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Permit.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Preparation.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/PrepAttrs.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/PrepsObj.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/PrepTypes.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/ProjectCollectionObject.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Project.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/ReferenceWork.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Shipment.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/SoundEventStorage.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Sound.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/Stratigraphy.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/TaxonCitation.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/TaxonName.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/TaxonomicUnitType.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/TaxonomyType.hbm.xml"/>
		
		

        <!-- Settings for the second-level cache -->
        <!--
        <class-cache class="org.hibernate.auction.model.Item" usage="read-write"/>
        <class-cache class="org.hibernate.auction.model.Category" usage="read-write"/>
        <class-cache class="org.hibernate.auction.model.User" usage="read-write"/>
        <class-cache class="org.hibernate.auction.model.Bid" usage="read-only"/>
        <class-cache class="org.hibernate.auction.model.BillingDetails" usage="read-write"/>
        <collection-cache collection="org.hibernate.auction.model.Category.items" usage="read-write"/>
        <collection-cache collection="org.hibernate.auction.model.Item.bids" usage="read-write"/>
        -->

	</session-factory>

</hibernate-configuration>