<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Don't forget to copy your JDBC driver to the lib/ directory! -->

		<!-- Settings for a local HSQL database, wrapped by P6Spy, see spy.properties -->

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/demo_fish3</property>
		<property name="hibernate.connection.username">rods</property>
		<property name="hibernate.connection.password">rods</property>

	    <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
	    
	    <property name="c3p0.minPoolSize">5</property>
	
	    <property name="c3p0.timeout">1000</property>		


		<!-- Use the Hibernate built-in pool for tests. -->
		<property name="hibernate.connection.pool_size">5</property>
		
        <!-- Use JTA for Transactions -->
        <!-- 
        <property name="transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property>
        <property name="jta.UserTransaction">java:comp/UserTransaction</property>
        -->
       
		<!-- Use EHCache -->
		<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="cache.use_query_cache">true</property>

		<!-- Specify mapping files. -->
		<mapping resource="edu/ku/brc/specify/ui/db/PickList.hbm.xml"/>
		
		
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/RecordSet.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/InfoRequest.hbm.xml"/>
		
	    <mapping resource="edu/ku/brc/specify/datamodel/hbm/Accession.hbm.xml"/>
	    <mapping resource="edu/ku/brc/specify/datamodel/hbm/AccessionAgent.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/AccessionAuthorizations.hbm.xml"/>
	    <mapping resource="edu/ku/brc/specify/datamodel/hbm/Address.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/AgentAddress.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/Agent.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/AttributeDef.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/Author.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/BorrowAgent.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/Borrow.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/BorrowMaterial.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/BorrowReturnMaterial.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/BorrowShipment.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/CatalogSeries.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/CollectingEvent.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/CollectingEventAttr.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/CollectionObjectCitation.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/CollectionObject.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/CollectionObjectAttr.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/CollectionObjDef.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/Collector.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/Container.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/ContainerItem.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/DataType.hbm.xml"/>
	    <mapping resource="edu/ku/brc/specify/datamodel/hbm/Deaccession.hbm.xml"/>
	    <mapping resource="edu/ku/brc/specify/datamodel/hbm/DeaccessionAgent.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/DeaccessionCollectionObject.hbm.xml"/>
	    <mapping resource="edu/ku/brc/specify/datamodel/hbm/DeterminationCitation.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/Determination.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/ExchangeIn.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/ExchangeOut.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/ExternalResource.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/ExternalResourceAttr.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/Geography.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/GeographyTreeDef.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/GeographyTreeDefItem.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/GeologicTimePeriod.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/GeologicTimePeriodTreeDef.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/GeologicTimePeriodTreeDefItem.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/GroupPerson.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/Journal.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/LoanAgent.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/Loan.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/LoanPhysicalObject.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/LoanReturnPhysicalObject.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/LocalityCitation.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/Locality.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/Location.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/LocationTreeDef.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/LocationTreeDefItem.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/Observation.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/OtherIdentifier.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/Permit.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/Preparation.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/PreparationAttr.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/PrepType.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/ProjectCollectionObject.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/Project.hbm.xml"/>
	    <mapping resource="edu/ku/brc/specify/datamodel/hbm/ReferenceWork.hbm.xml"/>
	    <mapping resource="edu/ku/brc/specify/datamodel/hbm/RepositoryAgreement.hbm.xml"/>
	    <mapping resource="edu/ku/brc/specify/datamodel/hbm/Shipment.hbm.xml"/>
	    <mapping resource="edu/ku/brc/specify/datamodel/hbm/SpecifyUser.hbm.xml"/>
	    <mapping resource="edu/ku/brc/specify/datamodel/hbm/Stratigraphy.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/TaxonCitation.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/Taxon.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/TaxonTreeDef.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/TaxonTreeDefItem.hbm.xml"/>
		<mapping resource="edu/ku/brc/specify/datamodel/hbm/UserGroup.hbm.xml"/>
		
		

        <!-- Settings for the second-level cache -->
        <!--
        <class-cache class="org.hibernate.auction.model.Item" usage="read-write"/>
        <class-cache class="org.hibernate.auction.model.Category" usage="read-write"/>
        <class-cache class="org.hibernate.auction.model.User" usage="read-write"/>
        <class-cache class="org.hibernate.auction.model.Bid" usage="read-only"/>
        <class-cache class="org.hibernate.auction.model.BillingDetails" usage="read-write"/>
        <collection-cache collection="org.hibernate.auction.model.Category.items" usage="read-write"/>
        <collection-cache collection="org.hibernate.auction.model.Item.bids" usage="read-write"/>
        -->

	</session-factory>

</hibernate-configuration>
